<div class="messages" ng-controller="MessagesController">
	<div class="row" ng-hide="messageId">
		<a ng-click="newMessage()" class="btn btn-primary col-xs-12" translate>New Message</a>
		<hr class="col-xs-12">
	</div>
	
	<div class="row message-filter" ng-hide="messageId">
		<a ng-click="messageType = 'received'" 
		   class="btn col-xs-12 col-sm-5" ng-class="{'btn-primary': messageType == 'received', 'btn-secondary': messageType != 'received'}"
		   translate
		>
			Received Messages
		</a>
		
		<a ng-click="messageType = 'sent'" 
		   class="btn col-xs-12 col-sm-5 col-sm-offset-2" ng-class="{'btn-primary': messageType != 'received', 'btn-secondary': messageType == 'received'}"
		   translate
		>
			Sent Messages
		</a>
	</div>
	
	<div class="row message" ng-repeat="m in messages | orderBy:'!date'" ng-hide="messageId" ng-class="{'read': m.read}">
		<a ui-sref="messages({id: m.id})" class="view-message">
			<div class="col-xs-6 col-sm-3 from">
				<i class="fa fa-envelope" aria-hidden="true" ></i>
				
				<h5>{{m.from}}</h5>
				
				<div class="date">{{m.date|date:'MMM d'}}</div>
			</div>
			
			<div class="col-xs-6 col-sm-9 content">
				<h5>{{m.subject}}</h5>
				<div class="body">{{m.body}}</div>
			</div>
		</a>
	</div>
	
	<div class="single-message " ng-show="messageId">
		<h5>{{message.from}}</h5>
				
		<div class="date">{{message.date|date:'MMM d'}}</div>
			
		<h5 class="subject">{{message.subject}}</h5>
		<div class="body">{{message.body}}</div>

	</div>
	
	<div class="row" ng-show="messageId">
		<a ng-click="newMessage()" class="btn btn-primary col-xs-12" translate>Reply</a>
	</div>

</div>