<div ng-controller="EditProfileController" class="row edit-profile">	
	<form ng-submit="save(user)" class="col-md-6">
		<i class="fa fa-user" aria-hidden="true"></i> 
		<a ng-click="uploadPicture()" translate>Update Profile Picture</a>
		
		<fieldset class="form-group">
			<input ng-model="user.firstName" type="input" class="form-control" id="firstName" placeholder="{{'First Name'|translate}}" required>
		</fieldset>
		<fieldset class="form-group">
			<input ng-model="user.lastName" type="input" class="form-control" id="lastName" placeholder="{{'Last Name'|translate}}" required>
		</fieldset>
		<fieldset class="form-group">
			<input ng-model="user.address1" type="input" class="form-control" id="address1" placeholder="{{'Street'|translate}}" required>
		</fieldset>
		<fieldset class="form-group">
			<input ng-model="user.city" type="input" class="form-control" id="city" placeholder="{{'City'|translate}}" required>
		</fieldset>
		<fieldset class="form-group">
			<select ng-model="user.state" ng-options="key as value for (key , value) in states" class="form-control" id="state" required></select>
		</fieldset>
		<fieldset class="form-group">
			<input ng-model="user.zip" type="input" class="form-control" id="zip" placeholder="{{'Zip'|translate}}" required>
		</fieldset>
		<fieldset class="form-group">
			<input ng-model="user.phone" type="input" class="form-control" id="phone" placeholder="{{'Home Phone #'|translate}}" >
		</fieldset>
		<fieldset class="form-group">
			<input ng-model="user.cell" type="input" class="form-control" id="cell" placeholder="{{'Cell Phone #'|translate}}" >
		</fieldset>
		<fieldset class="form-group">
			<input ng-model="user.email" type="input" class="form-control" id="email" placeholder="{{'Email'|translate}}" >
		</fieldset>
		<fieldset class="form-group">
			<label class="radio-inline"><input ng-model="user.gender" value="Female" type="radio" name="gender" translate>Female</label>
			<label class="radio-inline"><input ng-model="user.gender" value="Male" type="radio" name="gender" translate>Male</label>
			
			<small translate>You are not required to give a response to this section.</small>
		</fieldset>
		
		<hr>
		
		<button class="btn btn-primary col-sm-5" translate>Done</button>
		
		<a ui-sref="profile" class="btn btn-secondary col-sm-5 coll-sm-offset-2" translate>Cancel</a>
	</form>
</div>
