<div class="register" ng-controller="RegisterController">
	
	<div class="row">
		<h1 class="col-xs-12"><span translate>Welcome</span> <i class="fa fa-smile-o" aria-hidden="true"></i></h1>
		<p class="col-xs-12" translate>Let's start completing your account info.</p>
		
		<p class="col-xs-12" translate>Enter the email address you registered with your caseworker</p>
	</div>
	

	<div class="alert alert-danger" role="alert" ng-hide="passwordsMatch" translate>Your passwords do not match</div>
	
	<div class="row">
		<form ng-submit="register()" class="col-md-6">
			<fieldset class="form-group">
<!-- 				<label for="email" translate>Email address</label> -->
				<input ng-model="credentials.email" type="email" class="form-control" id="email" placeholder="{{'Email address'|translate}}" required>
			</fieldset>
			<fieldset class="form-group">
<!-- 				<label for="password" translate>Password</label> -->
				<input ng-model="credentials.password" type="password" class="form-control" id="password" placeholder="{{'Create a password'|translate}}">
			</fieldset>
			<fieldset class="form-group">
<!-- 				<label for="confirm" translate>Confirm Password</label> -->
				<input ng-model="credentials.confirm" type="password" class="form-control" id="confirm" placeholder="{{'Confirm password'|translate}}">
			</fieldset>
			
			<button type="submit" class="btn btn-primary login-btn" translate>Next</button>
		</form>
	</div>
</div>