//home
.summary-section {
	&.messages {
		& > :first-child  {
			background: $messages-bg;
			
			h3 {
				text-transform: uppercase;
			}
			
			span {
				font-weight: lighter;
			}
		}
		
	}
	
	&.plan {
		div {
			&:last-child {
				& > span {
					font-size: 16px;
					font-weight: lighter;
					margin-left: 15px;
				}
			}
			
			& > div {
				float: left;
				width: 50%;
				border-left: 1px solid #aaa;
				padding-left: 10px;
				position: relative;
				top: 10px;
				
			}
			
			h4 {
				font-size: 16px;
				font-weight: lighter;
				margin-top: 0;
			}
		}
		
		table {
			margin-left: 15px;
			width: 92%;
			
			tr {
				margin-bottom: 10px;
				
				&:first-child td {
					padding-top: 0px !important;
				}
			}
			
			td {
				padding-top: 10px;
				
				a, a:hover {
					color: black !important;
					cursor: pointer;
				}
				
				font-weight: bold;
				padding-right: 10px;
				
				&:not(:first-child) {
					border-bottom: 1px solid #aaa;
				}
				
				i {
					font-size: 25px;
					position: relative;
					top: 4px !important;
				}
			}
		}
	}
	
}

//profile
.profile{
	font-size: 16px;
	font-weight: lighter;
	
	.profile-name {
		display: inline-block;
	}
	
	h1 {
		font-size: 28px;
		font-weight: lighter;
		position: relative;
		top: 5px;
		
		&.profile-name {
			display: inline-block;
		}
	}
	
	.links {
		display: inline-block;
		margin-left: 40px;
		position: relative;
		top: 40px;
		
		a {
			display: block;
			color: $button-bg;
			font-weight: bold;
			font-size: 14px;
			text-decoration: underline;
			
			&:first-child {
				margin-bottom: 20px;
			}
		}
	}
	
	& > span {
		display: block;
	}
	
	.add-family {
		display: block;
		margin-bottom: 25px;
	}
}

//edit profile
.edit-profile {
	::-webkit-input-placeholder {
	   font-style: italic;
	}
	:-moz-placeholder {
	   font-style: italic;  
	}
	::-moz-placeholder {
	   font-style: italic;  
	}
	:-ms-input-placeholder {  
	   font-style: italic; 
	}
	
	input, select {
		font-size: 16px;
		border: none;
		border-radius: 0;
		box-shadow: none;
		border-bottom: 1px solid #999;
	}
	
	select {
		 -webkit-appearance: none;
		 
		background:
			linear-gradient(45deg, transparent 50%, #999 50%),
			linear-gradient(135deg, #999 50%, transparent 50%),
			linear-gradient(to right, transparent, transparent);
		background-position:
			calc(100% - 21px) calc(1em + 2px),
			calc(100% - 16px) calc(1em + 2px),
			100% 0;
		background-size:
			5px 5px,
			5px 5px,
			2.5em 2.5em;
		background-repeat: no-repeat;
		
		padding-left: 8px;
  /* reset */

  border-radius: 0;
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance:none;
  -moz-appearance:none;
		 
		 
	}
	
	label.radio-inline {
		font-size: 16px;
		border-width: 3px;
		margin-left: 10px;
	}
	
	small {
		width: 150px;
		margin-left: 25px;
		display: inline-block;
	}
	
	hr {
		border-color: #999;
		margin-top: 0;
		margin-bottom: 40px;
	}
	
	.btn {
		margin-right: 25px;
		margin-bottom: 25px;
	}
	
	@media (max-width: ($small-screen-max)) {
		
		.btn {
			margin-right: 0;
			width: 100%;
		}
	}
}