//breakpoints
$small-screen: 768px;
$small-screen-max: $small-screen - 1;

//colors
$nav-bg: #323A45;
$messages-bg: #4773AA;
$plan-even-bg: #4AA564;
$plan-odd-bg: #4AA564;


$link-color: #fdb81e;
$link-visited: darken($link-color, 10%);
$link-hover: #f9c642;

$button-bg: #3e94cf;

$hamburger: #fff;

$panel-bg: #F2F2F2;

//typography
$main-font: 'Source Sans Pro';

$h1: 32px;
$h2: 24px;
$h3: 18px;

//overrides
$postman-parcels-offset: 55px;

//components
$badge-height: 30px;
$badge-text-color: #000;
$badge-font-size: 20px;

$plan-border-width: 5px;