<nav class="navbar navbar-static-top" ng-controller="NavBarController">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand circle-picture" ui-sref="home"><img src="{{$parent.userData.profilePicture}}"></a>
      
      <div class="welcome">
	      <h4 translate>Welcome</h4>
	      <h2>{{$parent.userData.firstName}} {{$parent.userData.lastName}}</h2>
	      <a class="text-uppercase no-change" ui-sref="profile" translate>My Profile</a>
      </div>
    </div>
    <div id="navbar" class="collapse navbar-collapse navbar-responsive-collapse" uib-collapse="navCollapsed" >

      <ul class="nav navbar-nav">
      <li class="dropdown" uib-dropdown>
		<a href="#" class="dropdown-toggle" uib-dropdown-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			<span>{{$parent.currentLocale.name}}</span> <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li ng-repeat="locale in $parent.locales" ng-click="collapse(); $parent.setLocale(locale)"><a href="#">{{locale.name}}</a></li>
		</ul>
	</li>
<!--
        <li ng-class="isActive('home')"><a ui-sref="home" translate>Home</a></li>
		<li ng-class="isActive('login')"><a ui-sref="login" translate>Login</a></li>
        <li ng-class="isActive('about')"><a ui-sref="about" translate>About</a></li>
        <li ng-class="isActive('contact')"><a ui-sref="contact" translate>Contact</a></li>
        <li ng-class="isActive('profile')"><a ui-sref="profile" translate>Profile</a></li>
-->
      </ul>
    </div>
  </div>
</nav>
